h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #222;
}


table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #1a73e8;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
    transition: 0.3s;
}


caption {
    caption-side: top;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.back-button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #1a73e8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #155ab6;
}